@font-face{
    font-family: 'champagne_limousines';
    src: url('champagne_limousines.otf');
}

* {
	margin: auto;
	padding:auto;
	font-family:futura;
}


header {
	position:relative;
	height:500px;
}

#fond
{
	width:100%;
	height:200px;
	background-color:#03989e;
}

#rond
{
	width:150px;
	height:150px;
	border-radius:50%;
	border : 5px solid white;
	background-color:#ffbd59;
	position:absolute;
	left:110px;
	top:270px;
}

#rond1
{
	width:80px;
	height:80px;
	border-radius:50%;
	border : 5px solid white;
	background-color:#43e8ed;
	position:absolute;
	left:150px;
	top:210px;
}

#rond2
{
	width:120px;
	height:120px;
	border-radius:50%;
	border : 5px solid white;
	background-color:#2868fc;
	position:absolute;
	left:200px;
	top:330px;
}

#menu{
	margin-left:80px;
	display:flex;
	flex-direction:row;
}

h3 a{
	text-decoration:none;
	color:#ffbd59;
}
#photo
{
	width:350px;
	height:350px;
	border-color:red;
	border:50px;
	margin:100px;
	top:-50px;
	left:85px;
	position:absolute;
	border : 20px solid white;
	border-radius:50%;
}

h1{
	position:absolute;
	text-align:center;
	top:160px;
	left:800px;
	font-weight:light;
	color:white;
	font-size:35px;
}

#resume{
	width:600px;
	height:110px;
	text-align:justify;
	font-size:18px;
	margin-top:300px;
	position:absolute;
	left:670px;
	top:-40px;
}

h3
{
	color:#ffbd59;
	display:inline-block;
	
}

.ligne {
	width:1450px;
	margin: auto;
}

.bloc-titre {
	position:relative;
}

.ro{
	width:80px;
	height:80px;
	border-radius:50%;
	border : 5px solid white;
	background-color:#ffbd59;
	position:relative;
	display:inline-block;
}

.rb{
	width:60px;
	height:60px;
	border-radius:50%;
	border : 5px solid white;
	background-color:#43e8ed;
	position:relative;
	display:inline-block;
	left:-50px;
}

.titre{
	display:inline-block;
	color:#2868fc;
	line-height: 2em;
}

#gauche
{
	width:720px;
	height:700px;
	background-color:white;
	display:inline-block;
	vertical-align:top;
}

#droite
{
	width:720px;
	height:700px;
	background-color:#BDE6F6;
	display:inline-block;
		vertical-align:top;
}

#affiche
{
	width:350px;	
	margin-top:110px;
	margin-left:200px;

}

#carte{
	width:370px;
	margin-left:150px;
	margin-top:150px;
	margin-bottom:70px;

}

#invit{
	width:370px;
	margin-left:150px;

}



#icône{
	width:200px;
	margin-bottom:130px;
	margin-left:70px;
}

#gauche1
{
	width:720px;
	height:1300px;
	background-color:#F1C37D;
	display:inline-block;
		vertical-align:top;
}


#livret{
	width:500px;
	margin-left:110px;
	margin-top:100px;
}

#pointage{
	width:500px;
	margin-left:110px;
	margin-top:130px;

}

#video{
	width:500px;
	margin-left:110px;
	margin-top:200px;

}

#droite1
{
	width:720px;
	background-color:white;
	display:inline-block;
		vertical-align:top;
}



#panneau{
	width:300px;
	margin-left:80px;
	margin-bottom:50px;
}	

#totem{
	width:80px;
	margin-bottom:85px;
	margin-left:70px;
	margin-top:30px;
}

#twin{
	width:110px;
	margin-bottom:85px;
	margin-top:110px;
	margin-left:70px;
}

#gif{
	width:150px;
	margin-left:90px;
	margin-bottom:50px;
}

#recsun{
	width:190px;
	margin-left:130px;
	margin-top:60px;
}

#versun{
	width:190px;
	margin-left:70px;
	margin-top:60px;
}

#recgenerator{
	width:190px;
	margin-left:130px;
	margin-top:10px;
}

#vergenerator{
	width:190px;
	margin-left:70px;
	margin-top:10px;
}

footer{
	width:100%;
	height:180px;
	background-color:#03989e;
	color:white;
	font-size:20px;
	text-align:center;
}

#container{
	
	width:100%;
	height:700px;
	display:flex;
	flex-direction:row;
	background-color:white;

}
#gauche2
{
	width:720px;
	height:705px;
	background-color:white;
	display:flex;
		vertical-align:top;
	
}
#droite2
{
	width:720px;
	height:750px;
	background-color:#BDE6F6;
	display:inline-block;
		vertical-align:top;
}

#logo{
	width:200px;
	height:auto;
	margin-left:25px;
	margin-bottom:200px;
}

#visite{
	width:210px;
	height:auto;
	margin-left:-200px;
	margin-top:250px;
}

#charte{
	width:150px;
	height:auto;
	float:right;
	margin-left:60px;
	margin-bottom:180px;
}

#responsive{
	width:100px;
	height:auto;
	margin-left:10px;
	margin-top:350px;

}

#prestashop{
	width:220px;
	height:auto;
	margin-left:80px;
	margin-top:20px;

}

#favicon{
	width:90px;
	height:auto;
	margin-left:150px;

}


#video{
		width:400px;
		margin-left:175px;
		margin-bottom:100px;
		margin-top:70px;
}

#embleme{
	width:250px;
	height:auto;
	margin-left:95px;
}

#HP1{
	width:290px;
	height:auto;
	
}

#HP2{
	width:290px;
	height:auto;
}

#harry{
	display:flex;
	flex-direction:row;	
}

#harry div {
	display:flex;
	flex-direction: column;
}

#gauche3{
	width:720px;
	height:700px;
	background-color:#F1C37D;
	display:inline-block;
		vertical-align:top;
}

#droite3{
	width:720px;
	height:auto;
	background-color:white;
	display:inline-block;
		vertical-align:top;
}

#recto{
	width:350px;
	height:auto;
	margin-top:100px;
	margin-left:150px;
}

#verso{
	width:350px;
	height:auto;
	margin-left:150px;
	margin-top:20px;
}


 @media all and (max-width: 1024px) {
        fond, footer 
    {
        width: auto;
        text-align: center;
		
    }
	
	#photo{
		
	width:200px;
	height:200px;
	border-color:red;
	border:50px;
	margin:100px;
	top:-40px;
	left:85px;
	position:absolute;
	border : 5px solid white;
	border-radius:50%;
	}
    #rond
{
	width:100px;
	height:100px;
	border-radius:50%;
	border : 5px solid white;
	background-color:#ffbd59;
	position:absolute;
	left:110px;
	top:130px;
}

#rond1
{
	width:50px;
	height:50px;
	border-radius:50%;
	border : 5px solid white;
	background-color:#43e8ed;
	position:absolute;
	left:150px;
	top:100px;
}

#rond2
{
	width:70px;
	height:70px;
	border-radius:50%;
	border : 5px solid white;
	background-color:#2868fc;
	position:absolute;
	left:170px;
	top:180px;
}
#resume{
	width:450px;
	height:110px;
	text-align:justify;
	font-size:18px;
	margin-top:300px;
	position:absolute;
	left:20px;
	top:-20px;
}

#menu{
	margin-left:50px;
	display:flex;
	flex-direction:column;
}
#gauche, #droite, #gauche1, #droite1, #droite3{
	display:flex;
	flex-direction:column;
	margin-left:-150px;
	width:635px;
 }

#container, #droite2, #gauche2{
	display:flex;
	flex-direction:column;
	margin-left:-105px;
}

#gauche3{
	display:flex;
	flex-direction:column;
	margin-left:-150px;
	margin-top:100px;
	width:635px;
}
.bloc-titre3{
	margin-top:800px;
}
#carte, #invit { 
	margin-left:210px;
}

#livret, #pointage, #video{
	width:400px;
	height:auto;
	margin-left : 190px;
}
 #icône, #panneau{
	margin-left:250px;
	margin-top:40px;
 }
 
 #totem, #twin{
	margin-left:330px;
 }
 #gif{
	margin-left:350px;
 }
 
 #recsun, #versun, #recgenerator, #vergenerator{
	margin-left:300px;
 }
 }
